@font-face {
    font-family: LexendDeca;
    src: url(../fonts/LexendDeca-VariableFont_wght.ttf);
    font-display: block;
}

.header-container{
    margin-bottom: 50px;
}

.header{
    display: flex;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 20px;
    height: 100vh;
    width: 100vw;
    color: white;
    backdrop-filter: blur(5px) brightness(.7);
}

.header-row{
    justify-content: center;
}

.headline-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}

.headline-col > .btn{
    width: 60%;
    max-width: 300px;
    font-size: calc(0.75em + 1vmin);
}

.header-text{
    text-align: center;
    font-family: LexendDeca;
}

.random-movie-col{
    cursor: pointer;
    max-width: fit-content;
    height: calc(50vh + 100px);
    max-height: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.random-movie-col:hover{
    filter: brightness(120%);
}

.random-movie-image{
    border-radius: 5px;
    height: 100%;
    max-height: 100%;
    filter: drop-shadow(2px 2px 6px black);
    border: 1px solid #ffffff26;
}

.posters-list-container > div{
    row-gap: 20px;
}

@media screen and ( max-width: 768px){
    .app{
        padding-bottom: 0px;
    }
    
    .random-movie-col{
        margin-top: 80px;
    }

    .posters-list-container{
        display: none;
    }

    .header {
        height: fit-content;
    }

    .header-container{
        margin-bottom: 0px;
    }

    .header-text{
        width: 80%;
    }

    .footer{
        margin-top: 0px !important;
    }
}