.app{
  padding-top: 50px;
  padding-bottom: 50px;
}

.star-icon{
  width: 20px;
  margin-right:5px;
}

.posters-list-row{
  row-gap: 20px;
}

.movie-grid-image{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.movie-grid-element:hover{
  filter: brightness(120%);
}

.poster{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.error-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: white;
}

.error-message{
  text-align: center;
}
